// ————— I R A N S A N S —————
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 200;
	src: url("../assets/fonts/IranSans/woff/IranSans-200-ExtraLight.woff"),
		url("../assets/fonts/IranSans/woff2/IranSans-200-ExtraLight.woff2");
}
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 300;
	src: url("../assets/fonts/IranSans/woff/IranSans-300-Light.woff"),
		url("../assets/fonts/IranSans/woff2/IranSans-300-Light.woff2");
}
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/IranSans/woff/IranSans-400-Regular.woff"),
		url("../assets/fonts/IranSans/woff2/IranSans-400-Regular.woff2");
}
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 500;
	src: url("../assets/fonts/IranSans/woff/IranSans-500-Medium.woff"),
		url("../assets/fonts/IranSans/woff2/IranSans-500-Medium.woff2");
}
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/IranSans/woff/IranSans-700-Bold.woff"),
		url("../assets/fonts/IranSans/woff2/IranSans-700-Bold.woff2");
}
@font-face {
	font-family: IranSans;
	font-style: normal;
	font-weight: 900;
	src: url("../assets/fonts/IranSans/woff/IranSans-900-Black.woff"),
		url("../assets/fonts/IranSans/woff2/IranSans-900-Black.woff2");
}

// ————— N U N I T O —————
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 200;
	src: url("../assets/fonts/Nunito/woff/Nunito-200-ExtraLight.woff"),
		url("../assets/fonts/Nunito/woff2/Nunito-200-ExtraLight.woff2");
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	src: url("../assets/fonts/Nunito/woff/Nunito-300-Light.woff"),
		url("../assets/fonts/Nunito/woff2/Nunito-300-Light.woff2");
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Nunito/woff/Nunito-400-Regular.woff"),
		url("../assets/fonts/Nunito/woff2/Nunito-400-Regular.woff2");
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 500;
	src: url("../assets/fonts/Nunito/woff/Nunito-500-Medium.woff"),
		url("../assets/fonts/Nunito/woff2/Nunito-500-Medium.woff2");
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	src: url("../assets/fonts/Nunito/woff/Nunito-600-SemiBold.woff"),
		url("../assets/fonts/Nunito/woff2/Nunito-600-SemiBold.woff2");
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/Nunito/woff/Nunito-700-Bold.woff"), url("../assets/fonts/Nunito/woff2/Nunito-700-Bold.woff2");
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	src: url("../assets/fonts/Nunito/woff/Nunito-800-ExtraBold.woff"),
		url("../assets/fonts/Nunito/woff2/Nunito-800-ExtraBold.woff2");
}
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 900;
	src: url("../assets/fonts/Nunito/woff/Nunito-900-Black.woff"),
		url("../assets/fonts/Nunito/woff2/Nunito-900-Black.woff2");
}
